@import "tailwindcss";

* {
    scrollbar-width: thin;
    scrollbar-color: #2f5643 #1e3d2e;
}

html,
body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: #1e3d2e;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1e3d2e;
}

::-webkit-scrollbar-thumb {
    background-color: #2f5643;
    border-radius: 6px;
    border: 3px solid #1e3d2e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3f6b55;
}